@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

::-webkit-scrollbar-thumb {
  background: rgba(226, 0, 0, 0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.5); 
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgb(221, 183, 113) transparent;
}

* {
  cursor: none;
}


.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgb(175, 114, 57);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}